@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}


body {
    font-family: 'Lato', sans-serif;
    color: #222;
    overflow-x: hidden;
    margin: 0;
  }
  
.container {
    background-color: #fafafa;
    transform-origin: top left;
    transition: transform 0.5s linear;
    width: 100vw;
    min-height: 100vh;
    padding: 30px;
}
  
.container.show-nav {
    transform: rotate(-20deg);
}
  
.circle-container {
    position: fixed;
    top: -100px;
    left: -100px;
}
  
.circle {
    background-color: #ff7979;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s linear;
}
  
.container.show-nav .circle {
    transform: rotate(-70deg);
}
  
.circle button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 26px;
    color: #fff;
}
  
.circle button:focus {
    outline: none;
}
  
.circle button#open {
    left: 60%;
}
  
.circle button#close {
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
}
  
.container.show-nav + nav li {
    transform: translateX(0);
    transition-delay: 0.3s;
}
  
nav {
    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 100;
}
  
nav ul {
    list-style-type: none;
    padding-left: 30px;
}
  
nav ul li {
    text-transform: uppercase;
    color: rgb(12, 233, 203);
    margin: 40px 0;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in;
}
  
nav ul li i {
    font-size: 20px;
    margin-right: 10px;
}
  
nav ul li + li {
    margin-left: 15px;
    transform: translateX(-150%);
}
  
nav ul li + li + li {
    margin-left: 30px;
    transform: translateX(-200%);
}
  
nav a{
    color: rgb(12, 233, 203);
    text-decoration: none;
    transition: all 0.5s;
}
  
nav a:hover {
    color: #FF7979;
    font-weight: bold;
}
  
.content {
    max-width: 1000px;
    margin: 50px auto;
}
  
.content h1 {
    margin: 0;
}
  

.content h3 {
    color: #333;
    line-height: 1.5;
}

.content ul {
    line-height: 1.5;
}  

/* ---------------------------- */

.container2 {
  width: 90vw;
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  max-width: 100%;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: all 850ms ease-in; 
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
  .container2 {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}